body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 10px;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

section {
    display: flex;
    flex-direction: column; /* Empile le contenu verticalement */
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin-bottom: 20px; /* Ajoute un espace entre les sections */
    padding-top: 60px; /* Ajustez cette valeur selon la hauteur de votre menu */
}

#events {
    background-color: #f2f2f2;
}

#our-brand {
    background-color: #e6e6e6;
}

#our-team {
    background-color: #cccccc;
}

#our-history {
    background-color: #b3b3b3;
}

.card-container {
    width: 100%; /* Prend toute la largeur disponible */
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto; /* Permet le défilement horizontal */
    padding: 20px 0;
    flex-grow: 1; /* Prend l'espace restant */
}

.card {
    min-width: 90vw; 
       margin: 0 10px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}
